name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout du code
      uses: actions/checkout@v4
          
    - name: Construction et démarrage des services avec Docker Compose
      run: docker compose up -d --build

    - name: Arrêt et nettoyage des services Docker Compose
      run: docker compose down
